.main-body {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3%;
}

.album-container {
  padding: 2%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  border: 1px solid grey;
 }

 .album-container img { 
   height:100px;
   width: 100px;

 }

.album-actions {
  align-self: end;
}

.edition-button {
  background-color: #c0f4e4;
  margin-right: 5px;
  border-radius: 20px;
  padding: 2px;
  border: 1px solid #c9c8c8
}

.edit-icon {
  position: relative;
  top: -4px;
}
.score{
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;


}