.app-menu-container {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(252, 252, 252);
}

.kenjo-logo {
  padding: 5px;
  height: 50px;
}

/* hover modified in the new album button */
button{
  &:hover {
    box-shadow: 0 0 10px #383737;
  }
}